<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Angular Task Manager </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" *ngIf="loginService.currentUsername != null">
          <a class="nav-link" [routerLink]="['/admin','dashboard']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item" *ngIf="loginService.currentUsername != null">
          <a class="nav-link" [routerLink]="['/admin','projects']">Projects</a>
        </li>
        <li class="nav-item" *ngIf="loginService.currentUsername != null">
          <a class="nav-link" [routerLink]="['/admin','masters']">Masters</a>
        </li>
        <li class="nav-item" *ngIf="loginService.currentUsername != null">
          <a class="nav-link" href="#">{{loginService.currentUsername}}</a>
        </li>
        <li class="nav-item" *ngIf="loginService.currentUsername != null">
          <a class="nav-link" href="#" (click)="loginService.Logout()">Logout</a>
        </li>
        <li class="nav-item" *ngIf="loginService.currentUsername == null">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="loginService.currentUsername == null">
          <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
        </li>
      </ul>
    
      <form class="d-flex input-group w-auto ms-auto">
        <span class="input-group-text border-0" id="search-addon">
          <i class="fa fa-search"></i>
        </span>
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        &nbsp;
        <button class="btn btn-warning my-2 my-sm-0" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid" [@routeAnimations]="getState(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>